:root {
    --font: 'font';
    --font-size: 16px;
    --bg-color: #2a2e32;
    --fg-color: #d4d4d4;
    --input-bg-color: #254455;
    --input-fg-color: #0da9f5;
    --hard-outline-color: #64686b;

    --grey-40: #585b5e40;
    --grey-99: #585b5e99;
    --grey-ff: #585b5eff;

    --action-btn-1: brightness(1000) saturate(6.5%) hue-rotate(206deg) brightness(42%);
    --action-btn-2: brightness(1000) saturate(6.5%) hue-rotate(206deg) brightness(42%) brightness(1.4);
    --action-btn-3: brightness(1000) saturate(6.5%) hue-rotate(206deg) brightness(42%) brightness(2);

    --a-btn-red-1: brightness(0) invert(17%) sepia(45%) saturate(5302%) hue-rotate(338deg) brightness(77%) contrast(91%)  brightness(130%);
    --a-btn-red-2: brightness(0) invert(17%) sepia(45%) saturate(5302%) hue-rotate(338deg) brightness(77%) contrast(91%) brightness(120%)  brightness(130%);
    --a-btn-red-3: brightness(0) invert(17%) sepia(45%) saturate(5302%) hue-rotate(338deg) brightness(77%) contrast(91%) brightness(150%) brightness(150%);

    --search-heighlight: var(--input-fg-color);

    --topper-height: 30px;
    --action-padding: 10px;

    --menu-color-1: #2d5165;
    --menu-color-2: #5abaec;
}

@font-face {
    font-family: 'font';
    src: url('../font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: var(--font);
    font-size: var(--font-size);
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-left: 1px solid var(--grey-99);
    border-bottom: 1px solid var(--grey-40);
    border-top: 1px solid var(--grey-40);
}

::-webkit-scrollbar-track:hover {
    border-left: 1px solid var(--grey-99);
    border-bottom: 1px solid var(--grey-99);
    border-top: 1px solid var(--grey-99);
}

::-webkit-scrollbar-track:active {
    border-left: 1px solid var(--grey-99);
    border-bottom: 1px solid var(--grey-ff);
    border-top: 1px solid var(--grey-ff);
}

::-webkit-scrollbar-thumb {
    background: var(--grey-40);
    border-left: 1px solid var(--grey-99);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey-99);
}

::-webkit-scrollbar-thumb:active {
    background: var(--grey-ff);
}

main {
    display: block;
    padding: 5px 15px 0;
    top: 30px;
    width: calc(100% - 110px);
    max-width: max(69vw, 1200px);
    max-height: calc(100% - 30px);
    position: fixed;
    overflow: auto;
}

main div.selectable {
    user-select: none;
    -webkit-user-select: none;
    height: 20px;
    padding: 2px 2px 2px 5px;
    border: 1px solid transparent;
    border-radius: 3px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

main div.selectable > div.text {
    flex: 1 1 auto;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
}

main div.selectable > div.actions {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -100;
    gap: 0;
}

main div.selectable > div.actions img.action {
    padding: 0;
    margin: 0;
}

main div.selectable:hover > div.actions {
    width: fit-content;
    height: 100%;
    opacity: 1;
    z-index: 0;
    white-space: nowrap;
}

main div.selectable.renaming > div.actions {
    width: fit-content;
    height: 100%;
    opacity: 1;
    z-index: 0;
    white-space: nowrap;
}

main div.selectable:hover,
main div.selectable.selected,
main div.selectable.renaming {
    border: 1px solid var(--input-fg-color);
    background-color: var(--input-bg-color);
}

main div.selectable img.action {
    filter: var(--action-btn-1);
    height: 20px;
    padding-right: 5px;
    user-drag: none;
    -webkit-user-drag: none;
}

main div.selectable img.action:hover {
    filter: var(--action-btn-2);
}

main div.selectable img.action:active {
    filter: var(--action-btn-3);
}

main div.selectable:has(img.action[src="../icons/select-active.svg"]) {
    border: 1px solid var(--input-fg-color);
    background-color: var(--input-bg-color);
}

body > div.action-holdings {
    position: fixed;
    top: 0px;
    left: 0px;
    height: fit-content;
    right: 0px;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

body > div.action-holdings.scrollbar {
    right: 15px;
}

body > div.action-holdings > div.action-holdings-inner {
    position: relative;
    width: 100%;
}

div.std-action-bar {
    height: var(--topper-height);
    border-bottom: 1px solid var(--hard-outline-color);
    border-left: 1px solid var(--hard-outline-color);
    background-color: var(--bg-color);
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    position: relative;
    display: flex;
    align-items: center;
}

div.std-action-bar.hidden {
    display: none;
    height: 0;
    width: 0;
    z-index: -100;
    opacity: 0;
    border: none;
}

div.std-action-bar > div.left {
    flex: 1 1 auto;
    height: var(--topper-height);
    display: flex;
    align-items: center;
    padding-left: 3px;
}

div.std-action-bar > div.left > div {
    height: var(--topper-height);
    display: flex;
    align-items: center;
}

div.std-action-bar > div.left:has(img[src="../icons/selectall.svg"]) > div {
    display: none;
    z-index: -100;
}

div.std-action-bar > div.right {
    margin-left: auto;
    height: var(--topper-height);
    display: flex;
    align-items: center;
    padding-right: 3px;
}

div.action-holdings img.action-buton {
    width: calc(var(--topper-height) - var(--action-padding));
    height: calc(var(--topper-height) - var(--action-padding));
    margin-right: calc(var(--action-padding) / 2);
    user-select: none;
    filter: var(--action-btn-1);
    user-drag: none;
    -webkit-user-drag: none;
}

div.action-holdings img.action-buton:hover {
    filter: var(--action-btn-2);
}

div.action-holdings img.action-buton:active {
    filter: var(--action-btn-3);
}

body div.selection-menu {
    position: fixed;
    top: 6px;
    left: 6px;
    width: fit-content;
    height: fit-content;
    padding: 3px;
    border: 1px solid var(--fg-color);
    border-radius: 4px;
    background-color: var(--bg-color);
    z-index: 999;
}

body div.transparent-menu-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    opacity: 0;
    z-index: 998;
}

body div.selection-menu div.menu-action {
    width: max(fit-content, 100%);
    background-color: var(--bg-color);
    border-radius: 3px;
    border: 1px solid transparent;
    user-select: none;
    -webkit-user-select: none;
    padding: 0px 10px;
}

body div.selection-menu div.menu-action:hover {
    background-color: var(--menu-color-1);
    border: 1px solid var(--menu-color-2);
}

img.red {
    filter: var(--a-btn-red-1) !important;
}

img.red:hover {
    filter: var(--a-btn-red-2) !important;
}

img.red:active {
    filter: var(--a-btn-red-3) !important;
}

input.rename-chat {
    background-color: var(--input-bg-color);
    color: var(--fg-color);
    width: 100%;
    outline: none;
    border: 1px solid var(--input-fg-color);
    border-radius: 3px;
    line-height: var(--font-size);
    font-size: var(--font-size);
    font-family: var(--font);
    z-index: 10000;
}

input.rename-chat::selection {
    background-color: var(--input-fg-color);
    color: var(--bg-color);
}

div.std-action-bar > div.center {
    height: var(--topper-height);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3px;
    width: 100%;
}

div.std-action-bar > div.center.hidden {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
    color: transparent;
    background-color: transparent;
    border: none;
    z-index: -1000;
}

div.std-action-bar > div.center > input.search {
    background-color: var(--input-bg-color);
    color: var(--fg-color);
    width: 60%;
    outline: none;
    border: 1px solid var(--input-fg-color);
    border-radius: 3px;
    line-height: var(--font-size);
    font-size: var(--font-size);
    font-family: var(--font);
    display: flex;
    align-items: center;
}

div.std-action-bar > div.center > input.search::selection {
    background-color: var(--input-fg-color);
    color: var(--bg-color);
}
