:root {
    --font: 'font';
    --font-size: 16px;
    --bg-color: #2a2e32;
    --fg-color: #d4d4d4;
    --input-bg-color: #254455;
    --input-fg-color: #0da9f5;
}

@font-face {
    font-family: 'font';
    src: url('../font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: var(--font);
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#master-index-content-container {
    padding: 10px;
    height: calc(100% - 40px);
    width: calc(100% - 20px);
    max-width: max(69vw, 1200px);
}

div.op-container {
    cursor: default;
    width: 100%;
    height: 1lh;
    display: flex;
}

div.openAble {
    cursor: default;
    width: 100%;
    display: inline;
}

input.openAble {
    cursor: default;
    width: 100%;
    display: inline;
    background-color: var(--bg-color);
    color: var(--fg-color);
    border: 1px solid var(--fg-color);
    border-radius: 2px;
    outline: none;
    font-family: var(--font);
}

input::selection {
    color: var(--input-fg-color);
    background-color: var(--input-bg-color);
}

img.actionBtn {
    height: 1lh;
    width: 1lh;
    cursor: default;
    user-select: none;
    display: inline;
    padding-right: 5px;
}

img.actionBtn:hover {
    filter: brightness(2);
}

img.actionBtn:active {
    filter: brightness(4);
}
