:root {
    --font: 'font';
    --font-size: 16px;
    --bg-color: #2a2e32;
    --fg-color: #d4d4d4;
    --input-bg-color: #254455;
    --input-fg-color: #0da9f5;

    --grey-40: #585b5e40;
    --grey-99: #585b5e99;
    --grey-ff: #585b5eff;

    --action-btn-1: brightness(1000) saturate(5%) hue-rotate(206deg) brightness(70%);
    --action-btn-2: brightness(1000) saturate(5%) hue-rotate(206deg) brightness(50%);
    --action-btn-3: brightness(1000) saturate(5%) hue-rotate(206deg) brightness(30%);

    --a-btn-red-1: brightness(0) invert(17%) sepia(45%) saturate(5302%) hue-rotate(338deg) brightness(77%) contrast(91%);
    --a-btn-red-2: brightness(0) invert(17%) sepia(45%) saturate(5302%) hue-rotate(338deg) brightness(77%) contrast(91%) brightness(120%);
    --a-btn-red-3: brightness(0) invert(17%) sepia(45%) saturate(5302%) hue-rotate(338deg) brightness(77%) contrast(91%) brightness(150%);

    --search-heighlight: var(--input-fg-color);
}

@font-face {
    font-family: 'font';
    src: url('../font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html, main {
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: var(--font);
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-left: 1px solid var(--grey-40);
    border-bottom: 1px solid var(--grey-40);
    border-top: 1px solid var(--grey-40);
}

::-webkit-scrollbar-track:hover {
    border-left: 1px solid var(--grey-99);
    border-bottom: 1px solid var(--grey-99);
    border-top: 1px solid var(--grey-99);
}

::-webkit-scrollbar-track:active {
    border-left: 1px solid var(--grey-ff);
    border-bottom: 1px solid var(--grey-ff);
    border-top: 1px solid var(--grey-ff);
}

::-webkit-scrollbar-thumb {
    background: var(--grey-40);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey-99);
}

::-webkit-scrollbar-thumb:active {
    background: var(--grey-ff);
}

#master-index-content-container {
    padding: 10px;
    height: calc(100% - 40px);
    width: calc(100% - 20px);
    max-width: max(69vw, 1200px);
}

div.op-container {
    cursor: default;
    width: 100%;
    height: 1lh;
    display: flex;
}

div.openAble {
    cursor: default;
    width: 100%;
    display: inline;
}

input.openAble {
    cursor: default;
    width: 100%;
    display: inline;
    background-color: var(--bg-color);
    color: var(--fg-color);
    border: 1px solid var(--fg-color);
    border-radius: 2px;
    outline: none;
    font-family: var(--font);
}

input::selection {
    color: var(--input-bg-color);
    background-color: var(--input-fg-color);
}

img.actionBtn {
    height: 1lh;
    width: 1lh;
    cursor: default;
    user-select: none;
    display: inline;
    padding-right: 5px;
    filter: var(--action-btn-1);
}

img.actionBtn:hover {
    filter: var(--action-btn-2);
}

img.actionBtn:active {
    filter: var(--action-btn-3);
}

img.actionBtn.red {
    filter: var(--a-btn-red-1) !important;
}

img.actionBtn.red:hover {
    filter: var(--a-btn-red-2) !important;
}

img.actionBtn.red:active {
    filter: var(--a-btn-red-3) !important;
}

div.icon-actions {
    position: absolute;
    top: 0;
    right: 0;
    width: min-content;
    height: fit-content;
    background-color: var(--bg-color);
    border-bottom-left-radius: 3px;

}

img.tool-bar-action {
    height: 20px;
    width: 20px;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
    z-index: 2;
    filter: var(--action-btn-1);
}


img.tool-bar-action:first-child {
    margin-top: 5px;
}

img.tool-bar-action:hover {
    filter: var(--action-btn-2);
}

img.tool-bar-action:active {
    filter: var(--action-btn-3);
}

@keyframes topperBarSlideIn {
    from {
        transform: translateY(-31px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes topperBarSlideOut {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-31px);
    }
}

@keyframes searchReasaltsFadeIn {
    from {
        transform: translateY(-31px);
        opacity: 0;
        height: 100%;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
        height: calc(100% - 32px);
    }
}

@keyframes searchReasaltsFadeOut {
    from {
        transform: translateY(0px);
        opacity: 1;
        height: calc(100% - 32px);
    }
    to {
        transform: translateY(-31px);
        opacity: 0;
        height: 100%;
    }
}

body > div.margin-bar {
    position: absolute;
    height: 30px;
    width: 100%;
    top: 0;
    left: 0;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 0px;
    z-index: 3;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--hard-outline-color);
    border-left: 1px solid var(--hard-outline-color);
    animation: topperBarSlideIn 0.15s ease forwards;
    display: flex;
    align-items: center;
}

body > div.margin-bar.exiting {
    animation: topperBarSlideOut 0.15s ease forwards;
}

body > div.margin-bar > input.search {
    background-color: var(--bg-color);
    color: var(--fg-color);
    border: 1px solid var(--hard-outline-color);
    border-radius: 2px;
    outline: none;
    width: 100%;
    margin: 0 10px 0 3px;
    font-family: var(--font);
}

body > div.margin-bar > img {
    height: 16px;
    width: 16px;
    margin: 0 5px;
    user-select: none;
    filter: var(--action-btn-1);
    user-drag: none;
    -webkit-user-drag: none;
}

body > div.margin-bar > img:hover {
    filter: var(--action-btn-2) !important;
}

body > div.margin-bar > img:active {
    filter: var(--action-btn-3) !important;
}

body > div.search-resalts {
    position: absolute;
    height: calc(100% - 32px);
    width: 100%;
    top: 31px;
    left: 0;
    padding-left: 31px;
    margin-top: 0px;
    z-index: 3;
    background-color: var(--bg-color);
    animation: searchReasaltsFadeIn 0.15s ease forwards;
}

body > div.search-resalts.exiting {
    animation: searchReasaltsFadeOut 0.15s ease forwards;
}

body > div.search-resalts > i {
    color: var(--grey-ff);
    user-select: none;
    -webkit-user-select: none;
}

body > div.search-resalts b {
    color: var(--search-heighlight);
}
