# zip archive format (projects historical artifacts)
*.zip

# swap formats (ides)
*.swp
*.swo
*.kate-swp
.vscode/
.cursor/

# api key file (contributors api-credits)
chungus/api-key.js

# annoying operating system metadata
.directory
.DS_store

# python stuff that is better keep out of the remote repository
**/__pycache__/
**/.venv/
*.py[cod]

# no one commits a file that was dering python cleanup of icons
.*.svg.scour.*
